.product-detail-container {
  padding: 40px 10vw;
  background: rgba(46, 125, 50, 0.1);
}

.breadcrumb {
  margin-bottom: 20px;
  font-size: 1rem;

  .ant-breadcrumb-link > a {
    color: #1e88e5 !important;
    font-weight: 500;
  }
}
.feedback-card{
  width: 100vw;
}
.product-detail {
  margin-top: 10px;
  padding-bottom: 20px;
}

.product-card {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

  h2 {
    font-size: 25px;
    font-weight: bold;

  }

  .product-price {
    font-size: 2rem;
    font-weight: 600;
    color: #1e88e5;
    margin-bottom: 20px;
  }

  .product-info {
    font-size: 1rem;
    color: #333;

    p {
      margin-bottom: 8px;
    }

    a {
      color: #1e88e5;
      font-weight: 500;
    }
  }

  .ant-btn {
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
  }
}

.loading-text {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  color: #1e88e5;
}
.feedback-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.feedback-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-username {
  font-size: 16px;
  font-weight: bold;
}
