.block-btn {
    background-color: red;
    color: white;
    border: none;
    &:hover {
      background-color: darkred;
    }
  }
  
  .unblock-btn {
    cursor: pointer;
    background-color: green;
    color: white;
    height: 45px;
  
    width: 140px;
    font-weight: bold;
    border: none;
  }
  
  .manage-account {
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
  
    .table-container {
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
  
    .ant-table-title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 15px;
      color: #333;
    }
  
    .block-btn {
      cursor: pointer;
      background-color: rgb(232, 61, 61);
      color: white;
      border: none;
      height: 45px;
    
      width: 190px;
      font-weight: bold;
      transition: 0.3s;
    }
    
    .confirm-btn {
        cursor: pointer;
        background-color: rgb(37, 126, 164);
        color: white;
        border: none;
        height: 45px;
      
        width: 190px;
        font-weight: bold;
        transition: 0.3s;
      }
    

  
    .ant-table {
      border-radius: 8px;
      overflow: hidden;
    }
  
    .ant-table-thead > tr > th {
      background: #1890ff;
      color: white;
      font-weight: bold;
      text-align: center;
    }
  
    .ant-table-tbody > tr > td {
      text-align: center;
    }
  }
  