.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #f5f5f5; // Màu nền nhẹ nhàng
  color: #2e7d32; // Màu xanh dược phẩm
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  &__left {
    display: flex;
    align-items: center;

    .logo {
      font-size: 26px;
      font-weight: bold;
      color: #3164a7;
      cursor: pointer;
      font-family: "Playfair Display", serif;
      transition: 0.3s;
     
    }

    .blog {
      font-weight: 500;
      margin-left: 20px;
      font-size: 18px;
      cursor: pointer;
       border-radius: 10px;
      color: #151515;
      transition: 0.3s;
      padding: 17px 30px;
      background-color: #e0e9f4;
       &:hover{
        text-decoration: underline;
       }
    }
  }

  &__middle {
    display: flex;
    align-items: center;
    position: relative;

    .input-search {
      width: 320px;
      border-radius: 20px;
      padding-left: 40px;
      border: 1px solid #2e7d32;
    }

    .search-icon {
      position: absolute;
      left: 12px;
      font-size: 20px;
      color: #2e7d32;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 20px;

    .wallet {
      display: flex;
      align-items: center;
      font-size: 16px;
      background: rgba(46, 125, 50, 0.1);
      padding: 6px 12px;
      border-radius: 20px;
      color: #2e7d32;
    }

    .profile-user {
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }

    .cart-icon {
      font-size: 28px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: #1b5e20;
      }
    }

    .login {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: #2e7d32;
      }
    }
  }
}
