.booking-container {
  max-width: 1450px;
  margin: auto;
  text-align: center;
  padding: 30px;
  background-color: rgb(237, 242, 245);

  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    color: #1e88e5;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .doctor-selection {
    margin: 20px 0;

    .ant-select {
      width: 100%;
      max-width: 400px;
    }
  }
  .doctor-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .doctor-card {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      background: #e3f2fd;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .doctor-card.selected {
    background: #1e88e5;
    color: white;
  }
  .slots-container {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    h3 {
      color: #1e88e5;

      font-size: 18px;
      font-weight: 500;
    }

    .slots {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;

      .slot-card {
        cursor: pointer;
        border: 1px solid #ddd;
         height: 75px;
        width: 150px;
     
        display: flex;
        justify-content: center;
         align-items: center;
;       font-size: 12px;
        transition: all 0.3s ease-in-out;
        font-weight: 400;
        background: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        &:hover,
        &.selected {
          background-color: #1e88e5;
          color: white;
          border-color: #1e88e5;
          transform: scale(1.05);
        }
      }
    }
  }

  .confirm-button {
    margin-top: 25px;
    background-color: #1e88e5;
    border: none;
    padding: 12px 50px;
    font-size: 16px;
    height: 45px;
    font-weight: bold;
    border-radius: 6px;
    transition: background 0.3s ease-in-out;

    &:hover {
      background-color: #1565c0;
    }
  }
}
.doctor-carousel{
  margin-bottom: 100px;
}

