@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');

.wrapper {
    display: flex;
    width: 100%;
    padding-top: 20px;
    gap: 20px;
}

.main_wrapper {
    display: flex;
    justify-content: center;
}

.carousel {
    width: 100%;
    height: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
     
    .image {
        border-radius: 20px;
        object-fit: cover;
        width: 100%;
        height: 390px;
        transition: transform 0.4s ease-in-out;
        
    }

    .swiper-slide-active .image {
        transform: scale(1.02);
    }
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 400px;

}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5); /* Làm mờ nền để chữ dễ đọc hơn */
    padding: 15px;
    border-radius: 10px;
    width: 600px;
}

.text-content {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Dancing Script", serif;
    margin-bottom: 8px;
}

.subtext-content {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.9;
}

.sub_carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .image {
        margin-top: -10px;
        object-fit: contain;
        border-radius: 10px;
        width: 450px;
        height: 220px;
    }

    .image_above {
        object-fit: cover;
        border-radius: 10px;
        width: 450px;
        height: 200px;
    }
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .text-overlay {
        width: 90%;
        padding: 10px;
    }

    .text-content {
        font-size: 22px;
    }

    .subtext-content {
        font-size: 16px;
    }
}
