// index.scss
.order-list-container {
    padding: 20px;
    
    h2 {
        color: #1e88e5;
        text-align: center;
    }
}

.cancel-btn, .detail-btn {
    font-weight: 500;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
      height: 45px;
    &.cancel-btn {
        background-color: #ff4d4f;
        color: white;

        &:hover {
            background-color: #d9363e;
        }
    }

    &.detail-btn {
        background-color: #1e88e5;
        color: white;

        &:hover {
            background-color: #1565c0;
        }
    }
}

// Modal Styling
.ant-modal {
    border-radius: 12px;
    overflow: hidden;
    .ant-modal-content {
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(10px);
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        padding: 20px;
    }

    .ant-modal-header {
        background: #1e88e5;
        color: white;
        border-radius: 12px 12px 0 0;
        padding: 15px;
        
        .ant-modal-title {
            color: white;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .ant-modal-body {
        padding: 20px;
        
        .order-detail-item {
            display: flex;
            align-items: center;
            gap: 55px;
            font-size: 17px;
            padding: 10px;
            border-radius: 8px;
            background: #f7f7f7;
            margin-bottom: 10px;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.02);
            }

            .order-detail-image {
                width: 260px;
                height: 160px;
                border-radius: 8px;
                object-fit: cover;
            }

            p {
                margin: 5px 0;
            }
        }
    }

    .ant-modal-close {
        color: white;
    }
}
.feedback-button{
    color: #fff;
    font-size: 15px;
    background-color: #e44f1d;
    font-weight: bold;
    width: 200px;
    height: 45px;
}